<div class="jumbotron">
  <h1>Welcome to our restaurant</h1>
  <p>For us, food is an experience</p>
  <p><a class="btn btn-primary btn-lg" href=<%= pages_nosotros_path %> role="button">Learn more</a></p>
</div>