<%= content_for :header_title do %>

    Nosotros

<% end %>

<%= content_for :header_sub_title do %>

    Quienes somos 

<% end %>

<p>
El servicio diferenciado al que nuestros clientes están acostumbrados </p>

