<%= content_for :header_title do %>

    Nosotros

<% end %>

<%= content_for :header_sub_title do %>

    Quienes somos 

<% end %>

<p>Opened in 1999, Restaurant Wok & Wine is a casual fine dining restaurant, offering eclectic American cuisine and warm hospitality in a rustic historically preserved building. A high, open beam ceiling, exposed brick and concrete floors display the original space, while an open kitchen, banquette seating and gentle lighting contribute to an intimate and contemporary feel.</p>
