<%= content_for :header_title do %>

    Parámetros del Sistema

<% end %>

<%= content_for :header_sub_title do %>

    Configuración

<% end %>





<body>

  <div class="form-group form-group-sm">
    <label class="col-sm-1 control-label" for="formGroupInputSmall">Tarifa</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Tarifa">
    </div>
    <label class="col-sm-1 control-label" for="formGroupInputSmall">Horario</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Horario">
    </div>
     <label class="col-sm-1 control-label" for="formGroupInputSmall">IGV</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="igv">
    </div>
    
</body>