<%= content_for :header_title do %>

    Solicitar Servicio

<% end %>

<%= content_for :header_sub_title do %>

    Pide tu taxi!!!! 

<% end %>

<p>Opened in 1999, Restaurant Wok & Wine is a casual fine dining restaurant, offering eclectic American cuisine and warm 
hospitality in a rustic historically preserved building. A high, open beam ceiling, exposed brick and concrete floors display 
the original space, while an open kitchen, banquette seating and gentle lighting contribute to an intimate and contemporary feel.</p>

<h2>What you can expect from us</h2>

<p>Find me in app/views/pages/tos.html.erb</p>

