<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @service_state.description %>
</p>

<%= link_to 'Edit', edit_service_state_path(@service_state) %> |
<%= link_to 'Back', service_states_path %>
